#catalogReviews{
	margin-top: 24px;
	overflow: hidden;
}

#catalogReviews .heading{
	border-top: 1px solid #e7e8ea;
	font-family: 'robotobold';
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 36px 24px;
	font-weight: 800;
	font-size: 20px;
}

#catalogReviews .heading .reviewAddButton{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-bottom: 1px dashed #888888;
	font-family: "robotoregular";
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 4px;
	margin-left: 24px;
	font-weight: 400;
	font-size: 12px;
	color: #888888;
}

#catalogReviews .heading .reviewAddButton:active{
	position: relative;
	top: 1px;
}

#catalogReviews .heading .label{
	font-family: "robotoregular";
	text-transform: none;
	display: inline-block;
	letter-spacing: 0;
	font-weight: 400;
	font-size: 14px;
	color: #888888;
}

#catalogReviews .ratingContainer{
	line-height: 20px;
	float: right;
}

#catalogReviews .ratingContainer .rating,
#reviews .rating{
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	margin-top: 0px;
	position: relative;
	height: 15px;
	width: 79px;
	z-index: 2;
}

#catalogReviews .ratingContainer .rating{
	margin-left: 12px;
}

#catalogReviews .ratingContainer .rating i,
#reviews .rating i {
	background: url(../images/rating.png) repeat 0 0px transparent;
	height: 15px;
	width: 79px;
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
}

#catalogReviews .ratingContainer .rating i.m ,
#reviews .rating i.m{
	background: url(../images/rating.png) repeat 0 -14px transparent;
	width: 0px;
	z-index: 10;
}

#reviews .rating{
	margin-top: -4px;
}

#catalogElement .ratingContainer .newReview {
	float: right;
	margin-right: 12px;
	color: #000000;
}

#catalogElement .newReview:hover {
	color: #0074d9;
}

#catalogElement #reviews,
#catalogElement #reviews ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#catalogElement #reviews .reviewItem{
	border-top: 1px solid #f7f7f7;
	padding-top: 24px;
	position: relative;
	margin-bottom: 24px;
}

#catalogElement #reviews .reviewItem:first-child{
	padding-top: 24px;
	border-top: 1px solid #e7e8ea;
	/*padding: 0;*/
	/*border: 0;*/
}

#reviews .reviewTable{
	table-layout: fixed;
	display: table;
	width: 100%;
}

#reviews .reviewTable .reviewColumn{
	display: table-cell;
	vertical-align: top;
	position: relative;
	padding: 0 24px;
	font-size: 14px;
}

#reviews .reviewTable .reviewColumn .label{
	display: inline-block;
	font-size: 14px;
}

#reviews .reviewTable .reviewColumn .reviewRating,
#reviews .reviewTable .reviewColumn .reviewName{
	margin-top: 12px;
}

#reviews .reviewTable .reviewColumn .reviewDate,
#reviews .reviewTable .reviewColumn .reviewName{
	line-height: 21px;
}

#reviews .reviewTable .reviewColumn .advantages,
#reviews .reviewTable .reviewColumn .limitations{
	margin-bottom: 12px;
}

#reviews .reviewTable .reviewColumn .advantages .label,
#reviews .reviewTable .reviewColumn .impressions .label,
#reviews .reviewTable .reviewColumn .limitations .label{
	margin-bottom: 4px;
	font-size: 14px;
}

#reviews .reviewTable .reviewColumn .advantages p,
#reviews .reviewTable .reviewColumn .impressions p,
#reviews .reviewTable .reviewColumn .limitations p{
	font-size: 13px;
}

#reviews .reviewTable .reviewColumn:first-child{
	vertical-align: middle;
	text-align: center;
	width: 30%;
}

#reviews .reviewTable .reviewColumn .reviewDate{
	color: #ffffff;
}

#reviews .reviewTable .reviewColumn .reviewName,
#reviews .reviewTable .reviewColumn .reviewName .label{
	font-size: 16px;
}

#catalogElement #reviews .controls {
	background: #f4f4f4;
	text-align: center;
	margin-top: 24px;
	line-height: 35px;
	/*float: right;*/
	width: 260px;
	height: 35px;
}

#catalogElement #reviews .controls a {
	text-decoration: none;
}

#catalogElement #reviews .controls a:active {
	position: relative;
	top: 1px;
}

#catalogElement #reviews .controls .good {
	color: #009E02;
	margin-right: 4px;
}

#catalogElement #reviews .controls .good:hover {
	color: #008902;
}

#catalogElement #reviews .controls .bad {
	color: #ff0000;
}

#catalogElement #reviews .controls .bad:hover {
	color: #9d9d9d;
}

#catalogElement #reviews p {
	color: #666;
	line-height: 21px;
	margin: 0;
}

#catalogElement #reviews .comment {
	clear: both;
}

#catalogElement #reviews .hide {
	display: none;
}

#showallReviews {
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border: 1px solid #e7e8ea;
	margin: 24px 24px 24px auto;
	text-decoration: none;
	text-align: center;
	border-radius: 4px;
	line-height: 40px;
	display: block;
	color: #000000;
	height: 40px;
	width: 200px;
}

#catalogElement #newReview{
	display: block;
}

#catalogElement #newReview .heading{
	border-bottom: 1px solid #e7e8ea;
	border-top: 1px solid #e7e8ea;
	font-family: 'robotobold';
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 24px;
	padding: 36px 24px;
	font-weight: 800;
	font-size: 20px;
	display: block;
}

#catalogElement #newReview form{
	padding: 0 24px;
}

#catalogElement #newReview ins {
	text-decoration: none;
	margin-bottom: 4px;
	font-size: 14px;
	display: block;
}

#catalogElement #newReview #newRating {
	position: relative;
}

#catalogElement #newReview .rating {
	position: absolute;
	cursor: pointer;
	width: 150px;
	left: 100px;
	z-index: 10;
	top: -3px;
}

#catalogElement #newReview .rating i {
	background: url(../images/newRating.png) repeat 0 0px transparent;
	height: 22px;
	width: 150px;
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
}

#catalogElement #newReview .rating i.m {
	background: url(../images/newRating.png) repeat 0 -22px transparent;
	width: 0px;
	z-index: 10;
}

#catalogElement #newReview .usedSelect {
	list-style: none;
	overflow: hidden;
	clear: both;
	padding: 0;
	margin: 0;
}

#catalogElement #newReview .usedSelect li {
	float: left;
	margin-right: 12px;
	margin-bottom: 12px;
}

#catalogElement #newReview .usedSelect li a {
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border: 1px solid #e7e8ea;
	text-decoration: none;
	text-align: center;
	line-height: 35px;
	padding: 0px 12px;
	font-size: 13px;
	display: block;
	height: 35px;
	color: #000;
}

#catalogElement #newReview .usedSelect li a:hover {
	color: #696969;
}

#catalogElement #newReview .usedSelect li a:active {
	position: relative;
	top: 1px;
}

#catalogElement #newReview .usedSelect li a.selected {
	color: #fff;
}

#catalogElement #newReview table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

#catalogElement #newReview table td {
	vertical-align: top;
	width: 50%;
}

#catalogElement #newReview table td:first-child{
	padding-right: 24px;
}

#catalogElement #newReview label {
	display: block;
	margin: 12px 0;
}

#catalogElement #newReview textarea {
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #E4E4E4;
	font-family: "roboto_ltregular";
	padding-left: 12px;
	padding-top: 12px;
	background: #fff;
	resize: none;
	height: 90px;
	width: 100%;
}

#catalogElement #newReview textarea:focus {
	outline: none;
	border: 1px solid #CCC;
}

#catalogElement #newReview input {
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	font-family: "roboto_ltregular";
	border: 1px solid #E4E4E4;
	display: inline-block;
	margin-bottom: 12px;
	vertical-align: top;
	background: #fff;
	padding-left: 12px;
	height: 50px;
	width: 74%;
}

#catalogElement #newReview input:focus {
	border: 1px solid #CCC;
}

#catalogElement #newReview .submit {
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	margin-left: 3%;
	color: #ffffff;
	height: 50px;
	width: 23%;
}

#catalogElement #newReview .submit:active {
	position: relative;
	top: 1px;
}

#catalogElement #newReview .reviewError {
	overflow: hidden;
	padding: 0px 24px 0px 24px;
}

#catalogElement #newReview .reviewError .cap {
	color: #000000;
	font-size: 16px;
}

#catalogElement #newReview .reviewError img {
	vertical-align: middle;
	float: left;
	margin-right: 24px;
}

#catalogElement .countReviewsTools{
	cursor: pointer;
}