#orderSuccess{
	display: none;
}

.cartGifts{
	/*border-left: 1px solid #e7e8ea;*/
}

.cartGifts .productList:before,
.cartGifts .productList:after { content: ''; display: table; }
.cartGifts .productList:after { clear: both; }

#orderSuccess h2{
	text-transform: uppercase;
	font-family: 'robotobold';
	font-size: 16px;
}

#main input[name="BuyButton"],
#main input[type="submit"]{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	line-height: 50px;
	cursor: pointer;
	padding: 0 48px;
	color: #ffffff;
	height: 50px;
	border: 0px;
}

#personalCart {
	clear: both;
	margin-bottom: 32px;
}

#personalCart #basketTopLine{
	margin-bottom: 24px;
	overflow: hidden;
}

#personalCart #basketView{
	float: right;
}

#personalCart #basketView .item{
	line-height: 20px;
	height: 20px;
	float: left;
}

#personalCart #basketView .item{
	margin-right: 12px;
}

#personalCart #basketView .item a{
	display: block;
	height: 20px;
	width: 30px;
}

#personalCart #basketView .item .squares:hover{
	background-position: -30px 0;
}

#personalCart #basketView .item .squares.selected{
	background-position: -60px 0;
}

#personalCart #basketView .item .table{
	background-position: 0px -20px;
}

#personalCart #basketView .item .table:hover{
	background-position: -30px -20px;
}

#personalCart #basketView .item .table.selected{
	background-position: -60px -20px;
}

#personalCart #tabsControl{
	text-transform: uppercase;
	overflow: hidden;
	font-size: 14px;
	float: left;
}

#personalCart #tabsControl .item{
	margin-left: 24px;
	float: left;
}

#personalCart #tabsControl .item:first-child{
	margin-left: 0;
}

#personalCart #tabsControl .item a{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;
	font-family: 'robotobold';
	text-decoration: none;
	font-size: 16px;
	display: block;
	color: #888888;
}

#personalCart #tabsControl .item a:active{
	position: relative;
	top: 1px;
}

#personalCart #tabsControl .item .selected{
	border-bottom: 1px dashed #000000;
	color: #000000;
}

#basketProductList .productList{
	margin-bottom: 24px;
}

#basketProductList .productList .item{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	/*height: 395px !important;*/
}
#basketProductList .product{
	height: 390px;
}
#basketProductList .product:before {
	content: "";
	position: absolute;
	left: 0px;
	width: 100%;
	top: -1px;
	height: 1px;
	background: #e7e8ea;
}
#personalCart #basketProductList .product:hover .tabloid{
	border-bottom-color: #f9fafc;
}
#basketProductList .product .tabloid{
	position: relative;
	height: 100%;
}
#basketProductList .product .picture{
	margin-top: 12px;
}

#basketProductList .productList .tabloid{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	/*height: 393px !important;*/
}

#basketProductList .productList .product:hover .tabloid{
	/*height: 394px !important;*/
}

#basketProductList .productList .item .topSection{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	padding: 0 12px;
	width: 100%;
	z-index: 11;
	top: 12px;
	left: 0;
}

#basketProductList .productList .item .topSection .column{
	float: left;
	width: 50%;
}

#basketProductList .productList .item .topSection .icon{
	margin-top: -4px;
}

#basketProductList .productList .item .topSection .delete{
	background: url(images/delete.png) 0 0 no-repeat transparent;
	float: right;
	height: 18px;
	width: 18px;
}

#basketProductList .productList .item .topSection .delete:hover{
	background-position: -18px 0;
}

#basketProductList .productList .item .topSection .delete:active{
	background-position: -36px 0;
}

#basketProductList .delete.loading{
	background: url(images/deleteLoader.gif) 0 0 no-repeat transparent !important;
}

#basketProductList .product .label{
	width: 100%;
}

#personalCart .plus,
#personalCart .minus{
	background: url(images/plusMinus.png) 0 0 no-repeat #424242;
	vertical-align: middle;
	display: inline-block;
	height: 19px;
	width: 19px;
}

#personalCart .plus{
	background-position: 0 -19px;
}

#personalCart .plus:hover{
	background-position: -19px -19px;
}

#personalCart .plus:active{
	background-position: -38px -19px;
}

#personalCart .minus{
	margin-left: 12px;
}

#personalCart .minus:hover{
	background-position: -19px 0x;
}

#personalCart .minus:active{
	background-position: -38px 0px;
}

#personalCart .qty{

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	vertical-align: middle;
	background-color: #e7e8ea;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	color: #000000;
	height: 19px;
	width: 30px;
	padding: 0 2px;
	border: 0;
}

#personalCart .qty.error{
	border: 1px solid #ff0000;
}

#personalCart .productTable {
	border-collapse: collapse;
	width: 100%;
}

#personalCart .productTable img {
	vertical-align: middle;
}

#personalCart .productTable .clear {
	background: none;
	text-align: right;
	padding: 12px 0;
}

#personalCart .productTable .clear a {
	background: #F2F2F2;
	color: #2d2d2d;
	padding: 6px 12px;
	text-decoration: none;
	font-size: 14px;
}

#personalCart .productTable .clear a:active{
	position: relative;
	top:1px;
}

#personalCart .productTable .price {
	position: relative;
	display: block;
	font-size: 16px;
}

/*#personalCart .productTable .price s {
	position: absolute;
	top: -18px;
	right: 10%;
	color: #acacac;
	font-size: 13px;
}*/

#personalCart .productTable td:first-child a:active {
	position: relative;
	top: 1px;
}

#personalCart .productTable td:first-child img {
	vertical-align: middle;
	max-width: 90%;
	max-height: 90%;
}

#personalCart .productTable th {
	border-bottom: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	background: #f9f9f9;
	color: #000000;
	font-size: 14px;
	padding: 12px;
	text-align: center;
	font-weight: 400;
}

#personalCart .productTable td {
	text-align: center;
	padding: 12px;
	border-bottom: 1px solid #f1f1f1;
	background: #ffffff;
}

#personalCart .productTable td:first-child,
#personalCart .productTable th:first-child{
	border-left: 1px solid #f1f1f1;
}

#personalCart .productTable td:last-child,
#personalCart .productTable th:last-child{
	border-right: 1px solid #f1f1f1;
}

/*#personalCart .productTable .name {
	text-align: left;
	font-size: 14px;
	width: 26%;
}*/

#personalCart .productTable .pic {
	height: 70px;
	line-height: 70px;
	display: block;
}

#personalCart .productTable .name a {
	color: #000;
	text-decoration: none;
}

#personalCart .productTable .inStock {
	font-size: 14px;
	color: #19ad24;
}

#personalCart .productTable .outOfStock {
	font-size: 13px;
	color: #7f7f7f;
}

#personalCart .productTable .inStock .icon,
#personalCart .productTable .outOfStock .icon,
#personalCart .productTable .onOrder .icon {
	margin-right: 8px;
	margin-top: -4px;
}

#personalCart .productTable .bQty {
	width: 90px;
}

#personalCart .productTable .delete {
	text-align: center;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(images/delete.png) 0 0 no-repeat;
}

#personalCart .productTable td .delete:hover {
	background: url(images/delete.png) -18px 0px no-repeat;
}

#personalCart .productTable td .delete:active {
	background: url(images/delete.png) -36px 0 no-repeat;
}

#personalCart .productTable .sum {
	font-family: 'robotobold';
	font-size: 16px;
}

#personalCart .sum.hidden{
	visibility: hidden !important;
}

#personalCart .orderLine {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #f9f9f9;
	border: 1px solid #e7e8ea;
	line-height: 75px;
	padding: 0 12px;
	/*border-top: 0;*/
	height: 75px;
}

#basketProductList .productList + .orderLine,
#personalCart .orderLine.bottom{
	border-top: 1px solid #e7e8ea;
}

#personalCart .orderLine.bottom{
	background-color: #ffffff;
	padding-left: 250px;
	height: 97px;
	line-height: 97px;
}

#personalCart .orderLine .label{
	margin-right: 12px;
	font-size: 14px;
}

#personalCart .orderLine .price{
	font-family: 'robotobold';
	font-size: 16px;
}

#personalCart .orderLine #countItems,
#personalCart .orderLine #allDevilerySum,
#personalCart .orderLine #countOrderItems{
	margin-right: 24px;
}

#personalCart .orderLine #sum{
	float: left;
}

#personalCart #coupon{
	text-align: right;
	float: right;
	/*width: 50%;*/
}

#personalCart #coupon input{

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	margin-top: -3px;

	vertical-align: middle;
	display: inline-block;
	height: 48px;
	border: 0;
}

#personalCart #coupon .couponField{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	transition: all 0.1s ease-in-out;
	border: 1px solid #e7e8ea;
	padding-left: 8px;
	color: #888888;
	width: 470px;
}

#personalCart #coupon .couponField:focus{
	border: 1px solid #cccccc;
}

#personalCart #coupon .couponField.error{
	border: 1px solid #ff0000;
}

#personalCart #coupon .couponActivate{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	transition: all 0.1s ease-in-out;
	border: 1px solid #2d2d2d;
	background-color: #2d2d2d;
	line-height: 48px;
	text-align: center;
	padding: 0 24px;
	font-size: 14px;
	cursor: pointer;
	color: #ffffff;
}

#personalCart #coupon .couponActivate:hover{
	border: 1px solid #202020;
	background: #202020;
}

#personalCart #coupon .couponActivate:active{
	background-color: #000000;
	color: #cccccc;
}

#personalCart #coupon .couponActivate.loading{
	opacity: 0.8;
}

/* ORDER */

#order{
	margin-top: 24px;
}

#order .title{
	font-family: 'robotobold';
	text-transform: uppercase;	
	border: 1px solid #eeeeee;
	text-overflow: ellipsis;
	text-align: center;
	border-bottom: 0px;
	line-height: 80px;
	overflow: hidden;
	font-size: 16px;
	display: block;
	height: 80px;
}

#order textarea{
	padding-top: 12px;
	max-width: 100%;
	outline: none;
	resize: none;
}

.orderProps, .personSelect{
	border-collapse: collapse;
	border: 1px solid #eeeeee;
	table-layout: fixed;
	border-bottom: 0px;
	position:static;
	width: 100%;
}
.orderProps .deliSelect + .userProp{
	margin-top: 12px;
}

.userProp{
	list-style: none;
	padding: 0;
	margin: 0;
}

.userProp .hidden{
	display: none;
}

.orderProps{
	display: none;
}

.orderProps.active{
	display: table;
}

.orderProps td,
.personSelect td{
	border-top:1px solid #eeeeee;
	position: relative;
	padding: 24px 0;
}

.orderProps td:first-child,
.personSelect td:first-child{
	vertical-align: middle;
	text-align: center;
	width: 250px;
}

.orderProps td:last-child,
.personSelect td:last-child{
	padding-right: 24px;
}

.orderProps td:first-child span,
.personSelect td:first-child span{
	font-family: 'robotobold';
	text-transform: uppercase;		
	text-align: center;
	margin-top: 12px;
	font-size: 14px;
	display: block;
	color: #888888;
}

.userProp li:first-child{
	margin: 0;
}

.userProp li{
	position: relative;
	margin: 24px 0 0 0;
	overflow: hidden;
	list-style: none;
	display: block;
	padding: 0;
}

.orderProps .label{
	margin-bottom: 6px;
	margin-right:24px;
	float:left;
}

.orderProps label,
.personSelect label{
	margin-bottom: 6px;
	padding-top: 2px;
	display: block;
	font-size:12px;
	color:#aaaaaa;
}

.orderProps .electroCheck_div{
	float: left;
}

.orderProps select, 
.personSelect select{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #dddddd;
	background: #ffffff;
	padding-left: 12px;
	font-size: 14px;
	display: block;
	height: 50px;
	width: 80%;
	clear: both;
}

.orderProps input{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #dddddd;
	background: #ffffff;
	padding-left: 12px;
	font-size: 14px;
	display: block;
	height: 50px;
	width: 80%;
	clear: both;
}

.orderProps input[type="checkbox"]{
	padding: 0 !important;
	border:0 !important;
	margin-right:6px;
	display: block;
	height: 15px;
	width: 15px;
	float: left;
}

.orderProps .multi{
	height:auto !important;
	padding-left:4px;
}

.orderProps input[type="checkbox"] + label{
	font-size: 14px;
	padding-top:0px;
	cursor: pointer;
	color:#000;
}

.orderProps input[type="radio"]{
	padding: 0 !important;
	border:0 !important;
	margin-right: 6px;
	text-align: left;
	margin-top: 8px;
	height: 15px;
	width: 15px;
	float: left;
	clear: both;
}

.orderProps input[type="radio"] + label{
	font-size: 14px;
	padding-top: 8px;
	color: #000000;
	float: left;
}

.orderProps textarea{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	display: block;
	width: 80%;
	height: 100px;
	margin-top: 6px;
	background: #ffffff;
	border: 1px solid #ddd;
	padding-top: 4px;
	padding-left: 12px;
	clear:both;
}

.orderProps select:focus,
.orderProps textarea:focus,
.orderProps input:focus{
	border:1px solid #ccc;
}

/* locations */

.locDesk{
	position: relative;
	border: 1px solid #DDDDDD;
	width: 80%;
	margin-top:6px;
	z-index: 33;
	padding-left:4px;
}

.locDesk li{
	background: #F9F9F9;
	cursor: pointer;
	display: block;
	height:25px;
	line-height: 25px;
	margin-top:4px !important;
	padding:2px 6px;
	margin: 0px !important;
}

.locDesk li:nth-child(odd){
	background: #fff;
}

#orderMake{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
	margin-right: 24px;
	text-align: center;
	line-height: 54px;
	font-size: 14px;
	color: #ffffff;
	height: 54px;
	width: 225px;
}

#orderMake:active{
	position: relative;
	top: 1px;
}

#orderMake img{
	vertical-align: middle;
	padding-right: 8px;
	margin-top: -2px;
}

#elementError {
	background-color: rgba(0, 0, 0, 0.298);
	display: none;
	height: 100%;
	left: 0px;
	overflow: visible;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 998;
}

#elementErrorContainer {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.500);
	background-color: #ffffff;
	margin-left: -150px;
	margin-top: -130px;
	position: relative;
	overflow: hidden;
	color: #000000;
	width: 300px;
	z-index: 999;
	left: 50%;
	top: 50%;
}

#elementErrorContainer span.heading {
	background-color: #424242;
	color: #ffffff;
	display: block;
	font-size: 16px;
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin: 0;
	padding: 0;
}

#elementErrorContainer p {
	text-align: center;
	color: #000000;
	padding: 12px;
}

#elementErrorContainer #elementErrorClose {
	background: url("images/exit.png") 0px 0px no-repeat transparent;
	margin-bottom: 24px;
	position: absolute;
	display: block;
	height: 21px;
	right: 24px;
	width: 21px;
	top: 16px;
}

#elementErrorContainer #elementErrorClose:hover {
	background: url("images/exit.png") 0px -21px no-repeat transparent;
}

#elementErrorContainer #elementErrorClose:active {
	background: url("images/exit.png") 0px -42px no-repeat transparent;
}

#elementErrorContainer .close {
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #cccccc;
	background: #424242;
	width: 140px;
	text-decoration: none;
	margin: 0px auto 12px;
}

#elementErrorContainer .close:hover {
	background: #2b2b2b;
}

#elementErrorContainer .close:active {
	position: relative;
	top: 1px;
}

.orderProps .error{
	border:1px solid #ff0000;
}

.orderLoad {
	-webkit-transition: background 0s !important;
	-o-transition: background 0s !important;
	transition: background 0s !important;
	text-indent: 12px;
	opacity: 0.9;
}

.orderLoad img{
	display: none;
}

.wait {
	pointer-events: none;
	position: relative;
}

.wait > * {
	opacity: .4;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.wait:after {
	background: url(images/wait.gif) 50% 50% no-repeat;
	position: absolute;
	content: " ";
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

#basketProductList .tb{
	text-align: center;
	height: 100%;
}

#basketProductList .tc{
	padding: 12px 30px;
}

.fastBayContainer{
	background: #f9f9f9;
	display: none;
}
.personSelect{
	display: none;
}

.fastBayImg{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 12px;
}

.fastBayLabel{
	margin-bottom: 8px;
	font-family: "robotobold";
	font-size: 18px;
	color: #000000;
}

.fastBayText{
	margin-bottom: 12px;
	font-size: 13px;
	line-height: 15px;
	color: #888888;
}

#basketProductList .show-always{
	display: inline-block;
	padding-left: 18px;
	padding-right: 18px;
}

@media all and (max-width: 1800px) {
	#basketProductList .product{
		height: 385px;
	}
}

@media all and (max-width: 1550px) {
	
	#personalCart .orderLine.bottom{
		padding-left: 24px;
	}
}

@media all and (max-width: 1500px) {
	
	#personalCart #coupon .couponField{
		width: 300px;
	}
}

@media all and (max-width: 1400px) {	
	#tabsControl .item:first-child{
		display: none;
	}

	#personalCart #tabsControl .item:nth-child(2){
		margin-left: 0;
	}

	/*	#personalCart .productTable .name{
		width: 22%;
	}*/
}

@media all and (max-width: 1350px) {
	
	#personalCart #coupon .couponField{
		width: 230px;
	}

	#personalCart #coupon .couponActivate{
		padding: 0 12px;
	}
}

@media all and (max-width: 1250px) {
	.productTable th:nth-child(6),
	.productTable td:nth-child(6){
		display: none;
	}
}

@media all and (max-width: 1200px) {
	
	#personalCart .orderLine #sum{
		width: 100%;
	}

	#personalCart #coupon{
		margin: 0 -12px;
		float: unset;
	}

	#personalCart .orderLine{
		margin-bottom: 78px;
	}

	#personalCart #coupon .couponField{
		width: 80%;
	}
	
	#personalCart #coupon .couponActivate{
		width: 20%;
	}

	#personalCart .orderLine.bottom .hd{
		display: none;
	}

	#orderMake{
		width: 190px;
	}
}

@media all and (max-width: 1150px) {
	
	#personalCart #basketView .item:first-child span{
		display: none;
	}
}

@media all and (max-width: 1024px) {
	
	#personalCart #basketView .item:first-child span{
		display: block;
	}

	#basketProductList .product{
		height: 350px;
	}
}

@media all and (max-width: 830px) {
	#personalCart #tabsControl{
		float: none;
	}

	#personalCart #tabsControl .item{
		margin-bottom: 12px;
		margin-right: 24px;
		margin-left: 0px;
		width: auto;
		/*float: none;*/
	}

	#personalCart #tabsControl .item:last-child{
		margin-bottom: 0px;
	}

	#personalCart #tabsControl .item .selected,
	#personalCart #tabsControl .item .selected:hover{
		border-bottom: 0px;
	}

	#personalCart #basketView{
		margin-top: 12px;
		float: none;
	}

	.productTable th:nth-child(4),
	.productTable td:nth-child(4){
		display: none;
	}

	.personalInfoLabel{
		padding-left: 36px;
	}
}

@media all and (max-width: 820px) {
	
	.orderProps td:first-child,
	.personSelect td:first-child{
		display: none;
	}

	.orderProps select,
	.personSelect select{
		margin: 12px auto;
		width: 90%;
	}

	.orderProps input{
		margin: 12px auto;
		width: 90%;
	}

	.orderProps label,
	.personSelect label,
	.orderProps .label{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
		margin: auto;
		float: none;
		width: 90%;
	}

	.orderProps textarea{
		margin: 12px auto;
		width: 90%;
	}

	.orderProps td:last-child,
	.personSelect td:last-child{
		padding-right: 0;
	}
}

@media all and (max-width: 700px) {

	#personalCart .orderLine #sum .hd{
		display: none;
	}

	#order .orderLine.bottom{
		margin-bottom: 0px;
		line-height: 21px;
		padding-top: 24px;
		border-bottom: 0;
		border-right: 0;
		border-left: 0;
	}

	#personalCart .orderLine.bottom .label{
		padding-bottom: 12px;
		margin-top: 12px;
		display: block;
	}

	#personalCart .orderLine.bottom{
		padding-bottom: 24px;
	}

	#basketTopLine{
		display: none;
	}

	#basketProductList .productList .item .topSection{
		top: 6px;
		padding: 0 6px;
	}
	#basketProductList .product{
		height: 150px;
	}

	.fastBayImg {
		display: none;
	}
	.fastBayLabel{
		font-size: 16px;
		margin-bottom: 6px;
	}

	.basketQty{
		font-size: 0;
	}

	#personalCart .minus{
		margin: 0;
	}
}

@media all and (max-width: 600px) {
	
	#personalCart #coupon .couponField{
		width: 65%;
	}
	
	#personalCart #coupon .couponActivate{
		width: 35%;
	}

	#basketProductList{
		padding-top: 1px;
		overflow-x: scroll;
	}

	/*	.productTable{
		min-width: 600px;
	}*/

	.basketQty{
		min-width: 90px;
	}

	.price{
		min-width: 100px;
	}

	.personalInfoLabel{
		padding-left: 24px;
	}

	#personalCart .orderLine.bottom {
	    padding-left: 12px;
	}
}

@media all and (max-width: 480px) {
	#order .title{
		height: auto;
		line-height: 28px;
		padding: 12px 0;
	}
}

@media all and (max-width: 400px) {
	.personalInfoLabel{
		padding-left: 12px;
	}
}