.cart .cartTable{
    border-collapse: collapse;
    table-layout: fixed;
    display: table;
    /*width: 100%;*/
}

.cart .cartTable .cartTableColumn{
    vertical-align: middle;
    display: table-cell;
    text-align: right;
}

.cart .cartTable .cartTableColumn:first-child{
    padding-right: 24px;
    width: 50px;
}

.cart .cartTable .cartIcon{
    background: url(images/cartH3.png) 0 0 no-repeat transparent;
    position: relative;
    margin-top: 12px;
    display: block;
    height: 50px;
    width: 50px;
}

.cart .cartIcon .countLink{
    text-align: center;
    display: block;
    height: 50px;
    width: 50px;
}

.cart .cartIcon .countLink:active{
    position: relative;
    top: 1px;
}

.cart .cartIcon .count{
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #b2b2b2;
    position: absolute;
    border-radius: 50%;
    line-height: 25px;
    font-size: 13px;
    color: #ffffff;
    display: block;
    height: 25px;
    width: 25px;
    right: -4px;
    top: -4px;
}

.cart .heading{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

.cart .heading.active:hover{
    opacity: 0.8;
}

.cart .heading.active:active{
    position: relative;
    top: 1px;
}

.cart .total{
    margin-left: 4px;
}

.cart .order{
    border: 1px solid #f3f3f3;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
    text-align: center;
    padding: 6px 24px;
    margin-top: 6px;
    color: #b2b2b2;
}

#subHeader3 .cart .order.active:hover{
    opacity: 0.7;
}

.cart .order.active:active{
    position: relative;
    top: 1px;
}

#subHeader3 .cart .active:hover .count{
    opacity: 0.8;
}

@media screen and (max-width: 700px){
.cart .cartTable .cartTableColumn:first-child{
		padding-right: 0px;
    width: 50px;
	}
}
