#topSearch2 .searchContainerInner{
	border: 1px solid #f3f3f3;
	height: 50px;
}

#subHeader2.color_black #topSearch2 .searchContainerInner{
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 0, 0, 0.1);
}

#subHeader2.color_theme #topSearch2 .searchContainerInner{
	border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
}

#topSearch2 .searchContainer{
	border-collapse: collapse;
	table-layout: fixed;
	line-height: 50px;
	display: table;
	height: 50px;
	width: 100%;
}

#topSearch2 .searchColumn{
	vertical-align: middle;
	display: table-cell;
}

#topSearch2 .searchColumn:last-child{
	width: 54px;
}

#topSearch2 #searchQuery{
	background: url(images/searchH2.png) 14px 50% no-repeat transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 42px;
	height: 50px;
	width: 100%;
	border: 0;
}

#topSearch2 #goSearch{
	background: url(images/searchIcoH2.png) 0 0 no-repeat transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: transparent;
	cursor: pointer;
	height: 50px;
	border: none;
	width: 50px;
}

#subHeader2.color_black #topSearch2 #searchQuery,
#subHeader2.color_theme #topSearch2 #searchQuery,
#subHeader6.color_black #topSearch2 #searchQuery,
#subHeader6.color_theme #topSearch2 #searchQuery,
#subHeader7.color_black #topSearch2 #searchQuery,
#subHeader7.color_theme #topSearch2 #searchQuery,
#subHeader9.color_black #topSearch2 #searchQuery,
#subHeader9.color_theme #topSearch2 #searchQuery{
	background: url(images/searchH2W.png) 14px 50% no-repeat transparent;
	color: rgba(255, 255, 255, 0.7);
}

#subHeader5.color_black #topSearch2 #searchQuery,
#subHeader5.color_theme #topSearch2 #searchQuery{
	background: url(images/searchH5W.png) 14px 50% no-repeat transparent;
	color: rgba(255, 255, 255, 0.7);
}

#subHeader2.color_black #goSearch,
#subHeader2.color_theme #goSearch{
	background: url(images/searchIcoH2W.png) 0 0 no-repeat transparent;
}

#subHeader5.color_black #goSearch,
#subHeader5.color_theme #goSearch,
#subHeader6.color_black #goSearch,
#subHeader6.color_theme #goSearch,
#subHeader7.color_black #goSearch,
#subHeader7.color_theme #goSearch,
#subHeader9.color_black #goSearch,
#subHeader9.color_theme #goSearch{
	background: url(images/searchIcoH5W.png) 0 0 no-repeat transparent;
}

#topSearch2 #goSearch:hover{
	background-position: 0px -50px;
}

#topSearch2 #goSearch:active{
	background-position: 0px -100px;
}










div.title-search-result {
	border:1px solid #c6c6c6;
	display:none;
	overflow:hidden;
	z-index:205;

}

table.title-search-result {
	border-collapse: collapse;
	border:none;
	width:300px;

}

table.title-search-result th {

	font-weight:normal;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:0px;
 	padding-right:0px;
	text-align:right;
	vertical-align:top;
	white-space:nowrap;
	width:0%;

}

table.title-search-result td {
	background-color:white;
	font-weight:normal;
	padding-top:2px;
	padding-bottom:2px;
	text-align:left;
	white-space:nowrap;

}

table.title-search-result td.title-search-item {
	padding-left:8px;
	padding-right:15px;

}

table.title-search-result td.title-search-item a {
	padding-left:4px;
	padding-right:15px;
	vertical-align:top;
	display:block;

}

table.title-search-result td.title-search-item img {
	vertical-align:top;
}

table.title-search-result td.title-search-item b {
	color:#cf0000;
	font-weight:normal;
}

table.title-search-result tr.title-search-selected td
,table.title-search-result tr.title-search-selected a
,table.title-search-result tr.title-search-selected td.title-search-more a
{
	background-color:#fff2be;
}

table.title-search-result td.title-search-more {
	font-size:11px;
	font-weight:normal;
	padding-right:15px;
	padding-left:24px;
	padding-top:0px;
}

table.title-search-result td.title-search-more a
{
	padding-left:12px;
	padding-right:15px;
	text-decoration:none;
	color:#999999;
}

table.title-search-result td.title-search-all {
	padding-left:24px;
	padding-right:15px;
}

table.title-search-result td.title-search-all a
{
	padding-left:4px;
	text-decoration:none;
	color:#808080;
}

table.title-search-result td.title-search-separator
, table.title-search-result th.title-search-separator {
	padding-top:0px;
	padding-bottom:0px;
	font-size:4px;
}

div.title-search-fader {
	display:none;
	background-image: url('images/fader.png');
	background-position: right top;
	background-repeat: repeat-y;
	position:absolute;
}

p.title-search-preview {
	font-size:10px;
}
div.title-search-result td.title-search-price span {
	font-size: 26px;
}
