span.reviews {
    position: absolute;
    right: 95px;
    top: 3px;
     font-size: 12px;
}
span.reviews span {
	font-weight:bold;
}
.items.productList{
	margin-bottom: 24px;
}

.removeFromWishlist{
	display: none;
}

.yout{
	background-color: #d84343;
    /* height: 35px; */
    /* padding: 10px; */
    text-align: center;
    border-radius: 10px;
    font-size: 15px !important;
    font-weight: 600 !important;
    margin-left: 212px;
	top:0;
    margin-top: 20px;
	position:absolute;
    /* width: 40px; 
    padding: 7px 15px 7px 15px !important;*/
}
